.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 80px);
    border: #1E96FF 1px dashed;
    background-color: #E0F6FF;
   }
   
   .item-1 {
    grid-column: span 2;
    grid-row: 
    span 3;
   }
   
   .grid-item {
    background-color: #1E96FF;
    color: #FFFFFF;
    padding: 20px;
    margin: 5px;
   }