.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.profile {
    text-align: center;
    background-color: indigo;
    color: white;
    width: 300px;
    border-radius: 7px;
    display: grid;
    grid-template: auto / 50%;
}