body {
    display: block;
    margin: 8px;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

div {
    border: 2px solid gray;
    font-size: 0;
}


p {
    text-align: right;
    font-size: 15px;
}

button {
    width: 25%;
    height: 30px;
}

.clear {
    width: 50%;
    background-color: orange;
}

.submit {
    width: 50%;
    background-color: lightgreen;
}